[submodule "UE02/67e5386aecce5108ae79cb9c"]
	path = UE02/Overleaf
	url = https://git@git.overleaf.com/67e5386aecce5108ae79cb9c
[submodule "UE03/Overleaf"]
	path = UE03/Overleaf
	url = https://git@git.overleaf.com/67f7f7fd9b6d2a657454951e
[submodule "UE04/Overleaf"]
	path = UE04/Overleaf
	url = https://git@git.overleaf.com/681c6d44457a1127088f4263
[submodule "UE05/Overleaf"]
	path = UE05/Overleaf
	url = https://git@git.overleaf.com/68274180454824a18de44342
